{% extends 'layout.html' %}
{% from "macros.html" import render_post %}

{% block content %}
<ul class="user_header">
    <li class="grid-50">
        {% include 'user_header.html' %}
    </li>
    <li class="grid-50 about_me">
    <!--- testing part --->
    <h4>About me:</h4>
    <p>
        {% if user.about_me %}
            {{ user.about_me }}
        {% endif %}
    </p>
    <!--- this part ---->
    <p class="align-right">
        {% if current_user == user %}
            <a href="{{ url_for('edit_profile') }}">edit</a>
        {% endif %}
    </p>
    </li>

</ul>


{% for post in stream %}
    <div class="post">
        {{ render_post(post) }}
    </div>
{% endfor %}

{% endblock %}